---
import ToggleButton from "@/components/ToggleButton.astro"
import { Badge } from "@/components/ui/badge"
import { Button } from "@/components/ui/button"
import { Card } from "@/components/ui/card"
import { calculateOverallBias } from "@/sections/history/utils/calculate-overall-bias"
import { getBiasColor } from "@/sections/history/utils/get-bias-color"
import { getBiasLevel } from "@/sections/history/utils/get-bias-level"
import type { Analysis, Request } from "@zenstackhq/runtime/models"
import { AlertTriangle, ChevronRight } from "lucide-react"

interface Props {
    data: Pick<Request, "id" | "createdAt" | "originalText" | "Analysis">
}

const { id, createdAt, originalText, Analysis } = Astro.props.data

const overallBias = calculateOverallBias(Analysis)
const biasLevel = getBiasLevel(overallBias)
const biasColor = getBiasColor(overallBias)
---

<Card className="w-full group p-4 space-y-2">
    <div class="flex justify-between">
        <h3 class="text-sm font-medium">
            {new Date(createdAt).toLocaleDateString()}
        </h3>
        <Badge className={`${biasColor} text-white`}>
            {biasLevel}
        </Badge>
    </div>
    <div class="space-y-2">
        <p class="text-sm text-muted-foreground line-clamp-2">
            {originalText}
        </p>
        <div class="space-y-2 group-has-[#expander[data-state=on]]:hidden">
            <p class="text-sm">
                <AlertTriangle
                    className="inline-block mr-1 h-4 w-4 text-yellow-500"
                />
                Términos sesgados:{" "}
                {Analysis.biasedTerms.length}
            </p>
            <p class="text-sm">
                <AlertTriangle
                    className="inline-block mr-1 h-4 w-4 text-yellow-500"
                />
                Metáforas sesgadas:{" "}
                {Analysis.biasedMetaphors.length}
            </p>
            {
                Analysis.additionalContextEvaluation.stereotype.presence && (
                    <p class="text-sm">
                        <AlertTriangle className="inline-block mr-1 h-4 w-4 text-yellow-500" />
                        Presencia de estereotipos
                    </p>
                )
            }
            {
                Analysis.additionalContextEvaluation.powerAsymmetry
                    .presence && (
                    <p class="text-sm">
                        <AlertTriangle className="inline-block mr-1 h-4 w-4 text-yellow-500" />
                        Asimetría de poder detectada
                    </p>
                )
            }
            {
                Analysis.additionalContextEvaluation.genderRepresentationAbsence
                    .presence && (
                    <p class="text-sm">
                        <AlertTriangle className="inline-block mr-1 h-4 w-4 text-yellow-500" />
                        Ausencia de representación de género
                    </p>
                )
            }
        </div>
    </div>
    <div class="flex justify-between">
        <ToggleButton id="expander" variant="outline" size="sm">
            <span slot="off">Menos detalles</span>
            <span slot="on">Más detalles</span>
        </ToggleButton>

        <Button variant="ghost" size="sm" className="group/arrow">
            <a
                href={"/history/" + id}
                class="flex items-center"
                data-astro-prefetch="viewport"
            >
                Ver análisis completo{" "}
                <ChevronRight
                    className="ml-2 h-4 w-4 group-hover/arrow:translate-x-1 transition-transform"
                />
            </a>
        </Button>
    </div>
</Card>
